{% extends 'branch_manager/dashboard-base.html' %}
{% load static %}

{% block title %}
<title>Add Document</title>
{% endblock %}

{% block contain %}
<body class="bg-gradient-primary">
  <div class="container cus-height">
    <div class="card o-hidden border-0 shadow-lg">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-lg-12">
            <div class="p-5">
              <a href="{% url 'customer' %}">
                <button class="btn btn-secondary stock_class" type="button">Back</button>
              </a>
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Add Document for {{ customer.name }}</h1>
              </div>

              <div class="modal-body">
                <form method="post" enctype="multipart/form-data" action="{% url 'add_documents' customer.id %}">
                  {% csrf_token %}
                  
                  <div class="form-group row">
                    <div class="col-sm-6 mb-0 form-input">
                      <label for="document_name">Document Name</label>
                      {{ form.document_name }}
                    </div>
                    <div class="col-sm-6 mb-0 form-input">
                      <label for="document_number">Document Number</label>
                      {{ form.document_number }}
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="image">Upload Document Image</label>
                    {{ form.image }}
                  </div>

                  <div class="text-right mt-2">
                    <a href="{% url 'customer' %}">
                      <button type="button" class="btn btn-danger stock_class" data-dismiss="modal">Cancel</button>
                    </a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

  <style>
    .select_form select {
      padding: 0 !important;
      padding-left: 16px !important;
    }
  </style>
</body>
{% endblock %}