{% extends 'branch_manager/dashboard-base.html' %}
{% load static %}

{% block contain %}
<style>
  .invisible-div {
  display: none; /* This will completely hide the div and its contents */
}
</style>
<div class="container-fluid">

 <div class="card shadow">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
      <h6 class="m-0 font-weight-bold text-primary">AGENTS</h6>
      <div>
        {% if user.is_authenticated and user.user == 'MID' or user.user == 'TOP' %}
        <a href="#" class="btn btn-sm btn-primary shadow-sm" type="button" data-toggle="modal"
          data-target="#add_user" ><i class="fa fa-user fa-sm text-white-50"></i> Add Agent</a>
          {% endif %}
          <button data-toggle="modal" data-target="#exampleModal1-{{order_details.id}}" value="{{order_details.id}}"
          class="btn btn-sm btn-primary shadow-sm invisible-div"><i class="fas fa-filter fa-sm text-white-50"></i> Date Filter</button>
        <a href="" class="btn btn-sm btn-primary shadow-sm invisible-div"><i
            class="fas fa-download fa-sm text-white-50 "></i> Generate Report</a>
        <button data-toggle="modal" data-target="#upload_customer_excel" value="{{order_details.id}}" class="btn btn-sm btn-primary shadow-sm invisible-div"><i class="fas fa-upload fa-sm text-white-50"></i> Upload File</button>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive all_customer">
        <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Sr. No</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Branch Manager</th>
              <th class="custom_addresswidth">Area</th>
              <th class="customWidth">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for agent in agents %}
            
              <tr>
              <td></td>
              <td>{{ agent.agents.name }}</td>
              <td>{{ agent.agents.email }}</td>
              <td>{{ agent.agents.phone }}</td>
            
              <td class="text-break">{{ agent.branch_head.name}}</td>
              <td>{{ agent.area}}</td>
              <td class="customWidth">
                <!-- <a href="{% url 'update_agent_assignment' agent.agents.id %}"><button class="btn btn-success"><svg
                      xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg></i></button></a> &nbsp; -->
                <a ><button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal-{{agent.agents.id}}"> <svg
                      xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3"
                      viewBox="0 0 16 16">
                      <path
                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                    </svg></button></a>
              </td>
            

              <div class="modal fade" id="deleteModal-{{agent.agents.id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Delete Record</h5>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">Are you sure you want to delete User.</div>
                    <div class="modal-footer">
                      <button class="btn btn-secondary stock_class" type="button" data-dismiss="modal">Cancel</button>
                      <a class="btn btn-danger" href="{% url 'delete_agent' agent.agents.id %}">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% comment %}
<!-- Filter Sale data by Date from and to Modal -->
<div class="modal fade" id="exampleModal1-{{}}" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true" data-backdrop="static">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel1">Select Date</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form id="order_form1-{{order_details.id}}" action="/all_users/" method="post">
        {% csrf_token %}

        <div class="row">
          <div class="col-sm-6 mb-2 form-input">
            <label for="from">From:</label>
            <input type="datetime-local" id="from" name="from">
          </div>

          <div class="col-sm-6 mb-2 form-input">
            <label for="to">To:</label>
            <input type="datetime-local" id="to" name="to">
          </div>
        </div>
        <div class="text-right mt-2">
          <button type="submit" value="submit" class="btn btn-primary">Filter</button>
        </div>
      </form>
    </div>
    
  </div>
</div>
</div>


<!-- Upload data of users by excel file to backend-->
<div class="modal fade" id="upload_customer_excel" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel1">Upload File</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form id="order_form1-{{order_details.id}}" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- <label for="from"></label> -->
        <div class="mb-3">
          <input type="file" name="myfile" class="form-control h-auto">
        </div>
        <div class="text-right mt-2">
          <button type="submit" value="submit"  class="btn btn-primary">Upload</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

{% endcomment %}
<!-- Modal -->
<div class="modal fade addUsermodel" id="add_user" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
<div class="modal-dialog modal-md" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Create New User</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form class="user" method="post" action="/agent/">
            {% csrf_token %}
            
            <!-- Agent Name -->
            <div class="form-group row">
              <div class="col-sm-6 mb-0 form-input">
                <label for="exampleInputEmail1" class="form-label">Agent Name</label>
                <input type="text" name="full_name" class="form-control form-control-user" id="exampleLastName" placeholder="Agent Name">
            </div>
                <!-- Phone -->
                <div class="col-sm-6 mb-0 form-input">
                    <label for="exampleInputEmail1" class="form-label">Phone</label>
                    <input type="text" name="phone" class="form-control form-control-user" id="exampleLastName" placeholder="Phone">
                </div>
                <!-- Area -->
                <div class="col-sm-6 mb-0 form-input">
                  <label for="exampleInputEmail1" class="form-label">Area</label>
                  <input type="text" name="area" class="form-control form-control-user" id="exampleLastName" placeholder="Area">
              </div>
        
                <!-- Password -->
      
        
                <!-- Branch Manager Dropdown -->
                <div class="col-sm-6 mb-0 form-input select_form">
                    <label for="branch_head" class="form-label">Branch Manager</label>
                    <select name="branch_head" id="branch_head" class="form-control">
                        {% for branch_head in branch_heads %}
                            <option value="{{ branch_head.id }}">{{ branch_head.name }}</option>
                        {% endfor %}
                    </select>
                </div>
        
                <!-- Email Input -->
                <div class="col-sm-6 mb-0 form-input">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address">
                </div>
            </div>
        
            <div class="text-right mt-2">
                <button type="button" class="btn btn-danger stock_class" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        
    </div>
    

  </div>
</div>
</div>


<script>
  $("#id_email").keyup(function () {
    var email = $("#id_email").val();
    var filter =
      /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

    if (!filter.test(email)) {
      //alert('Please provide a valid email address');
      $("#error_email").text("It is not a valid email");
      email.focus;
      //return false;
    } else {
      $("#error_email").text("");
    }
  });

  $("#id_password").keyup(function () {
    var password = $("#id_password").val();
    var filter = /^[a-zA-Z0-9.,/ $@()]+$/;

    if (password.length < 8) {
      //alert('Please provid a valid email address');

      $("#error_password").text("Password length should be greater than 8");
      password.focus;
      //return false;
    } else {
      $("#error_password").text("");
    }
  });

  $('.stock_class').click(function() {
    location.reload();
});
</script>
<script>
  $("#id_phone").keyup(function () {

    var password = $("#id_phone").val();
    var filter = /^[a-zA-Z0-9.,/ $@()]+$/;

    if ((password).length < 10 || (password).length > 10) {
      //alert('Please provid a valid email address');

      $("#error_phone").text("Phone number should be in 10 digits");
      password.focus;
      //return false;
    } else {
      $("#error_phone").text("");
    }

  });

  const input = $('#dataTable');

</script>
<style>
  .select_form select {
    padding: 0 !important;
    padding-left: 16px !important;
  }
</style>
<script>
  var rowNum = 1;
  var serialNumCell = document.querySelectorAll('tbody tr td:first-child');
  for (var i = 0; i < serialNumCell.length; i++) {
    serialNumCell[i].textContent = rowNum++;
  }
</script>
{% endblock %}